*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    
}
.containeer{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}
ul{
    display: flex;
    align-items: center;
    gap: 40px;

}
.nav_link{
    color:  #36536B;
}
.btn{
    color: #fff;
    background-color:  #BA4270;
    border-radius: 24px;
    padding: 15px 25px;
}
.menu{
    display: none;
    width: 40px;
    height: 40px;
}

.header_containeer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 58px;
}
.header_title{
    font-size: 72px;
    width: 546px;
    color:  #36536B;
    margin-left: 75px;
}
.header_containeer img{
    margin-right: 100px;
    width: 346px;
}
.main_containeer{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-top: 58px;
}
.main_title{
    font-size: 52px;
    width: 846px;
    color: #36536B;
    margin-left: 75px;
}
.main_containeer img{
    margin-left: 100px;
    width: 346px;
   
}
.main_text {
    color: #36536B;
    font-size: 25px;
    width: 646px;
    color:  #36536B;
    margin-left: 75px;
    

}

.main_containeer2{
    display: flex; 
    align-items: center;
    justify-content: space-between;
}
.title{
    margin-top: 75px;
    display: flex;
    justify-content: space-evenly;
}
.title1{
    color: #36536B;
    margin-top: 55px;
    margin-bottom: 34px;
    display: flex;
    justify-content: space-evenly;
}
footer{
    background: url(Bitmap\ \(1\).png) no-repeat  center/cover; 
    height: 100px;
}
.code{
    display: flex;
    justify-content: space-around;
    align-items:start;
    gap: 55px;
}

@media ( max-width: 768px) {
    ul{
        display: none;
    }
    .menu{
        display: flex;
    }
    .header_containeer{
        flex-direction: column-reverse;
    }
}